<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{{title}}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Main CSS -->
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>
  <body>
    {% block content %}{% endblock %}

    <!-- JavaScript -->
    <script src="/javascripts/main.js"></script>
  </body>
</html>